@model Employee_Management_System.Models.EmployeeProfile

@{
    ViewBag.Title = "GetEmployeeProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/Content/CSS/EmployeeProfile.css" rel="stylesheet" />
<div class="profile-body">

    <div class="profile-content">
        <div class="profile-group">
            <h1> Welcome back @ViewBag.UserName !!</h1>
        </div>
        <div class="profile-group">
            <p>
                <strong>Employee ID - @ViewBag.Id</strong>
            </p>
        </div>
        <div class="profile-group">
            <p>
                <strong>Department name - @ViewBag.DepartmentName</strong>
            </p>
        </div>

        <div class="profile-group btn-department">
            @*<button class="button"><span>Edit profile </span></button>*@
            <a href="@Url.Action("EditDetails", "EmployeeDetails")" class="button">
                <span>Edit profile</span>
            </a>


        </div>
    </div>
    

</div>

