/* body{
    width: 100%;
} */
.table{
    width: 70%;
    height: 400px;
    overflow: scroll;
    position: relative;
    left: 200px;
    top: 80px;
}
.table-content{
    top: 200px;
    border-collapse: collapse;
}
td,th{
    border: 1px solid #464444;
    text-align: left;
    padding: 8px;
}
thead{
    position: sticky;
    top: 0;
    background-color: rgb(93, 93, 211);
    color: white;
}
tr:nth-child(even) {
    background-color: rgba(39, 36, 36, .1);
}
tr:hover td{
    cursor: pointer;
    color: #0298cf;
    background-color: aliceblue;
}
button{
  outline: none;
  border: none;
  width: 220px;
  padding: 9px;
  background-color: rgb(9, 9, 126);
  border-radius: 5px;
  color: white;

}
.add-btn{
    position: relative;
    left: 920px;
    top: 60px;
    width: 20px;
}
.add-btn:hover{
    opacity: 0.7;
}
td > a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#links{
    display: flex;
}

