
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<link href="~/Content/CSS/IndexPage.css" rel="stylesheet" />
<script src="~/Scripts/JavaScript/IndexPage.js"></script>
<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="~/Content/Images/img_01.jpg" />
        <div class="text"> “The only way to do great work is to love what you do.” <br /> - Steve Jobs</div>
    </div>

    <div class="mySlides fade">
        <img src="~/Content/Images/img_02.jpg" />
        <div class="text">“When people are financially invested, they want a return. When people are emotionally invested, they want to contribute.” <br> - Simon Sinek</div>
    </div>

    <div class="mySlides fade">
        <img src="~/Content/Images/img_04.jpg" />
        <div class="text">“People want to know they matter and they want to be treated as people. That’s the new talent contract.” <br> - Pamela Stroko</div>
    </div>

    <div class="mySlides fade">
        <img src="~/Content/Images/img_05.jpg" />
        <div class="text"> “Everyone enjoys doing the kind of work for which he is best suited.” <br /> - Napoleon Hill</div>
    </div>

</div>

