footer {
    position: relative;
}

body {
    background: linear-gradient(to top, #009999 0%, #ffffff 100%);
}
.table {
    width: 91%;
    margin: 5px;
    max-height: 400px;
    overflow: scroll;
    margin-left: 72px;
    margin-bottom: 35px;
    margin-top: 75px;
}

.table-content {
    top: 200px;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 8px;
}
thead {
    position: sticky;
    top: 0;
    background-color: rgb(93, 93, 211);
    color: white;
}
tr:nth-child(even) {
    background-color: rgba(39, 36, 36, .1);
}
tr:hover td {
    cursor: pointer;
    color: #0298cf;
    background-color: aliceblue;
}

.emp-head {
    position: relative;
    top: 60px;
    width: 190px;
    left: 74px;
}

td > a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

/*#links {
    display: flex;
    display:block;
    height:100%;
}*/
