.mySlides {
    display: none;
    position: relative;
}

img {
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 100vh; /* Full viewport height */
    overflow: hidden; 
}

.text {
    color: #f2f2f2;
    font-size: 28px;
    padding: 8px 12px;
    position: absolute;
    background-color: rgb(19, 16, 16, .5);
    top: 370px;
    left: 150px;
    width: 80%;
    text-align: center;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
footer {
    position: relative;
}
