*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: aquamarine;
    width: 1000px;
    padding-top: 20px;
    position: relative;
    left: 200px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.form-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    left: 100px;
}
    .form-group input {
        margin-top: 10px;
        padding: 5px;
        max-width: 70%;
        font-size: 15px;
        outline: none;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #bfbfbf;
    }
    .form-group select {
        margin-top: 10px;
        padding: 5px;
        max-width: 72%;
        font-size: 15px;
        outline: none;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #bfbfbf;
    }
    .form-group textarea{
        width: 71%;
        height: 20vh;
        resize: none;
        margin-top: 10px;
    }
h2{
    text-align: center;
}

.dropdown > h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
input[type=submit] {
    background-color: #3CBC8D;
    cursor: pointer;
    color: white;
    padding: 10px;
}