.regform {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(212, 247, 247, 0.945);
    width: 100%;
}
.header{
    display: flex;
    padding-left: 10px;
    justify-content: center;      
    width: 100%;
    /* height: 100px; */
}
.main{
    width:55%;
    height: 100%;
    display: flex;    
}
.logo{
    width: 30%;
    padding-left: 90px;
    padding-top: 22px;
}
.heading{
    flex: 2;
    margin-left: 40px;
}
.std-info input{
   border: 1px solid black;
   margin-right: 80px;
   margin-top: 10px;
   width: 340px;
   height: 20px;
}
.std-info-2 input{
    border: 1px solid black;
    margin-right: 80px;
    margin-top: 10px;
    width: 340px;
    height: 20px;
}
.add-row-1 input{
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 10px;
    width: 94%;
    height: 30px;
}
.add-row-2 input{
    border: 1px solid black;
    margin-right: 80px;
    margin-top: 20px;
    width: 340px;
    height: 20px;
}
.contact-row input{
    border: 1px solid black;
    /* margin-top: 10px; */
    width: 100%;
    height: 30px;
}
.col-1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.col-1 .input{
    width: 100%;
}
#fname{
    padding: 5px;
    margin: 20px;
    width: 80%;
}
.col-2 {
    display: flex;
    width: 100%;
}
.col-2 .input{
    width: 100%;
}
#col-2a{
    padding: 5px;
    margin: 20px;
    width: 90%;
}
#col-2ab #col-2a{
    width: 87%;
}
.add-row-1{
    width: 100%;
}
.add-row-2{
    display: flex;
    width: 100%;
}
.add-row-2 .input{
    width: 100%;
}
#city, #country{
    padding: 5px;
    margin: 20px;
    width: 90%;
}
#state, #zipcode{
    width: 91%;
    height: 28px;
    padding-left: 4px;
}
.contact-row{
    display: flex;
    width: 100%;
}
.contact-row .input{
    width: 100%;
}
#email{
    margin: 20px;
    width: 91%;
    padding-left: 4px;
}
#empty{
    width: 91%;
    height: 28px;
    margin-top: 20px;
}   
label{
    font-size: 20px;
    padding-left: 20px;

}
.courses-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 110px;
}
.button{
    border: 1px solid black;
    width: 1247px;
    /* width: 94%; */
    min-height: 40px;
    padding-left: 10px;
    padding-top: 6px;
    margin-left: 20px;
    margin-top: 10px;  
}
#button-1{
    height: 30px;
    width: 250px;
}
.courses-row-2{
    display: flex;
    width: 1257px;
    /* width: 95%; */
   margin-left: 20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.comments{
    width: 100%;
    margin: 20px;
}
textarea{
    width: 93%;
    padding: 8px;
    font-size: 15px;
}
.button-1{
    width: 150px;
    margin: 5px 5px 5px;
    height: 23px;
}
.register{
    width: 100%;
    text-align: center;
}
.btn{
    background-color: rgba(10, 192, 224, 0.842);
    font-size: 25px;
    color: aliceblue;
    margin: 15px;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 3px;
}