footer {
    position: relative;
}

.table {
    width: 91%;
    margin: 5px;
    max-height: 400px;
    overflow: scroll;
    margin-left: 77px;
    margin-bottom: 35px;
}

.table-content {
    top: 200px;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 8px;
}
thead {
    position: sticky;
    top: 0;
    background-color: rgb(93, 93, 211);
    color: white;
}
tr:nth-child(even) {
    background-color: rgba(39, 36, 36, .1);
}
tr:hover td {
    cursor: pointer;
    color: #0298cf;
    background-color: aliceblue;
}

button {
    outline: none;
    border: none;
    width: 220px;
    padding: 9px;
    background-color: rgb(9, 9, 126);
    border-radius: 5px;
    color: white;
}

.add-btn {
    margin-left: 1077px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 200px;
}

    .add-btn:hover {
        opacity: 0.7;
    }

td > a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#links {
    display: flex;
}
